FRONTEND_URL=http://frontend.niffler.dc
GATEWAY_URL=http://gateway.niffler.dc:8090
AUTH_URL=http://auth.niffler.dc:9000
API_BASE_URL=http://gateway.niffler.dc:8090
TEST_USERNAME=
TEST_PASSWORD=
AUTH_SECRET=
KAFKA_ADDRESS=localhost
SPEND_DB_URL=postgresql://postgres:secret@localhost:5432/niffler-spend
USER_DB_URL=postgresql://postgres:secret@localhost:5432/niffler-userdata
GRPC_URL=localhost:8092